GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

DEV_AUTH_ENABLED=true
DEV_AUTH_TOKEN=proutcaca

# Optional when switching to PostgreSQL with SPRING_PROFILES_ACTIVE=postgres
DB_URL=jdbc:postgresql://localhost:5432/tinyfarm
DB_USERNAME=tinyfarm
DB_PASSWORD=tinyfarm
